body {
    background: black;
}

#container {
    position: relative;
    display: block;
    top: 50px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#star {
    height: 100%;
    width: 100%;
}

/* source: http://codersblock.com/blog/creating-glow-effects-with-css/ */

#halo {
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff,  /* inner white */
        0 0 100px 60px #f0f, /* middle magenta */
        0 0 140px 90px #0ff; /* outer cyan */
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
    z-index: 1;
}

#symbol {
    position: absolute;
    color:azure;
    height: 100%;
    width: 100%;
    font: 2em;
    background: url(dollas.svg);
    background-position: center;
    background-size:contain;
    z-index: 2;
    opacity: .5;
}